*{
    font-size: 20px;
    font-family: sans-serif;
}

h1{
    font-size:24px;
}

form {
        display: grid;
        position: center;

    }

input {
margin-bottom: 10px;
height: 30px;
padding: 3px;
}

body{
    background-image: url("./pictures/LandingPageBackground.png");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

button {
    display: grid;
    position: absolute;
    top: 35%;
  left: 50%;
  transform: translate(-35%, -50%);
    width: 200px;
    height: 30px;
}