*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}

h1{
    justify-content: center;
    width: 100%;
    display: flex;
    height: 10vh;
}


body{
    background-image: url("./pictures/LandingPageBackground.png");
}

.center {
    margin: auto;
    width: 99%;
  }

.w3-image{
    margin:auto;
    padding:16px;
}

.login-form{
    width: 350px;
    height: auto;
}

.create-form{
    width: 350px;
    height: auto;
}

.form-title{
    text-align: center;
    padding: 29px 0;
}

label{
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

input{
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;

}

button, input{
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
}

input:focus{
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button{
    color: #61677c;
    font-weight: bold;
    box-shadow: 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
}

button:hover{
    box-shadow: -2px -2px  5px #fff, 2px 2px 5px #babecc;
}

button:active{
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}